/*Colors for Backgrounds*/
$main-bg-color: #D9D9D9;
$sub-bg-color: #EEE;
$img-filler: #808080;

/*Colors for Texts*/
$dark-text: #000;
$light-text: #FFF;

/*Colors for Accents*/
$accent-color: #F00;
$sub-accent: #FFF;